.portalContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 650;
    top: 0;
    display: flex;
    backdrop-filter: blur(10px);
    background-color: #d9d9d980;

    &__container {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 360px;
        height: min-content;
        padding: 20px 0 0 20px;
        background-color: #FFF;
    }
}