.invoicePreviewHeader__top {
    margin-top: 127px;
    // width: min-content;
    margin-left: auto;
    text-align: right;
}

.invoicePreviewHeader__bottom {
    margin-top: 65px;
    margin-bottom: 48px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}